# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
Lab1/.vs
ConsoleColors/x64/Debug
ConsoleColors/x64/Release
ConsoleUI/x64/Debug
ConsoleUI/x64/Release
Lab1/Lab1/x64/Debug
Lab1/Lab1/x64/Release
Lab1/x64/Debug
Lab1/x64/Release
